{{#let (get @model.errors 0) as |error|}}
<section class="gh-page gh-error">
  <div class="gh-container">

    <section class="gh-error-content">

      <h1 class="gh-error-code">{{error.status}}</h1>
      <p class="gh-error-description">{{error.title}}</p>
      <p class="gh-error-link">
        <LinkTo @route="index">Go to the front page →</LinkTo>
      </p>

      {{#if error.detail}}
      <section class="gh-error-stack">
        <h4>Theme errors:</h4>

        <h5 class="gh-error-stack-function">{{error.detail}}</h5>

      </section>
      {{/if}}

    </section>

  </div>
</section>
{{/let}}